
.button-solid {
  border: none;
  background-color: white;
  cursor: pointer;
}
button-solid:focus {
  border: none;
  outline: none;
}
.button-solid:hover {
  text-decoration: underline;
}

h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 224px;
}

#user-table, #bookadmin-table, #copyadmin-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: 224px;
}
  
#user-table td, #user-table tr, #bookadmin-table td, #bookadmin-table tr, #copyadmin-table td, #copyadmin-table tr {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 8px;
}
  
#user-table tr, #bookadmin-table tr, #copyadmin-table tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

  td {
  border-right:0px solid white;
}

  #table-header, #table-header2, label {
  font-weight: bold;
}

  label {
  font-family: Arial, Helvetica, sans-serif;
}

.green-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 3px 10px;
}

.green-button:hover {
  color: lightgray;
}


/* Side bar */
/* .sidebar {
  width: 150px;
  position: fixed;
  top: 134px;
  left: 40px;
}
  
.sidebar div {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

hr {
  border: 1px solid gainsboro;
}
   */