<nav class="navbar navbar-expand-lg navbar-light bg-light nav-underline">
    <a class="navbar-brand" href="home-page.html">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <!-- padding is impossible with bootstrap -->
        <img src="WT-logo.png" width="210" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="library.html">Bibliotheek<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="my-books.html">Mijn boeken</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acties
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="res-and-loans.html">
                <img src="list.svg">
                &nbsp&nbspReserveringen en leningen beheren</a>
            <a class="dropdown-item" href="manage-books.html">
                <img src="book-open.svg">
                &nbsp&nbspBoeken beheren</a>
            <a class="dropdown-item" href="manage-users.html">
                <img src="users.svg">
                &nbsp&nbspGebruikers beheren</a>
          </div>
        </li>
        <li class="nav-item dropdown position-absolute bottom-0 end-0 translate-middle">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mijn account&nbsp&nbsp
                <img src="user.svg">
            </a>
          <div class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
                <img src="settings.svg">
                &nbsp&nbspMijn gegevens</a>
            <a class="dropdown-item" href="#">
                <img src="log-out.svg">
                &nbsp&nbspUitloggen</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>